{% extends 'base.html.twig' %}

{% block title %}Department List{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/departmentList.css"/>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript" src="/js/worker.js" defer></script>
{% endblock %}

{% block body %}
<section class="department-list">
    <div class="department-list__header">
        <h1 class="department-list__title">
            <a href="{{ path('departments_page') }}" class="bread-crumbs pointer">Филиалы</a> > {{ department.city }}, {{ department.address }}
        </h1>
        <button onclick="location.href='/worker/add/{{ department.id }}';" class="department-list__add-button">Добавить работника</button>
    </div>
    <table class="department-list__table">
        <thead class="department-list__table-header">
        <tr class="department-list__row">
            <th class="department-list__full-name">ФИО</th>
            <th class="department-list__job-title">Должность</th>
            <th class="department-list__edit-button"></th>
            <th class="department-list__delete-button"></th>
        </tr>
        </thead>
        <tbody id="tbody">
        {% include '/department/workers.html.twig' %}
        </tbody>
    </table>
</section>
{% endblock %}