{% extends 'base.html.twig' %}

{% block title %}Department List{% endblock %}

{% block javascripts %}
	<script type="application/javascript" src="/js/department.js" defer></script>
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="/css/departmentList.css"/>
{% endblock %}

{% block body %}
	<section class="department-list">
		<div class="department-list__header">
			<h1 class="department-list__title">Филиалы</h1>
			<button id="addButton" onclick="location.href='./department/add';" class="department-list__add-button">Добавить филиал
			</button>
		</div>
		<table class="department-list__table">
			<thead class="department-list__table-header">
			<tr class="department-list__row">
				<th class="department-list__city">Город</th>
				<th class="department-list__address">Адрес</th>
				<th class="department-list__workers-count">Количество сотрудников</th>
				<th class="department-list__edit-button"></th>
				<th class="department-list__delete-button"></th>
			</tr>
			</thead>
			<tbody id="tbody">
			{% include '/department/departments.html.twig' %}
			</tbody>
		</table>
	</section>
{% endblock %}